$primary-font: 'Open Sans', sans-serif; 
$secondary-font: 'Nunito', sans-serif;

$black: #000000;
$gray: #555555 !default;
$darkest-gray: #333333;
$dark-gray: #787878;
$medium-gray: #b7b7b7;
$light-gray: #cccccc;
$lighter-gray: #e9e9e9;
$lightest-gray: #eeeeee;
$white: #ffffff;

$primary-font: 'Open Sans', sans-serif; 
$secondary-font: 'Nunito', sans-serif;

$default-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$default-border-radius: 2px;